@import "../../scss/core.scss";
.ResultView {
  flex: 1;
  position: relative;
  z-index: 1;
  padding: 30px 20px;
  height: calc(100vh - 82px);
  overflow-y: auto;
  background: rgba($N0, 0.3);
  border: 2px solid rgba($N0, 0.5);
  border-radius: 20px;
  z-index: 1;
  & &__btn {
    background: $N0;
    border: none;
    box-shadow: none;
    @include text($H13, 500, $N1);
    text-shadow: none;
    margin-top: 30px;
    height: 60px;
    padding: 0 28px;
    &:hover,
    &:active,
    &:focus {
      background: rgba($V2, 0.1);
    }
  }
  & &__icon {
    margin-left: 24px;
    font-size: 10px;
    color: $N2;
  }
  &__empty {
    color: $R2;
    text-align: center;
    margin-top: 80px;
  }
  &__add-btn {
    position: fixed;
    right: 65px;
    bottom: 20px;
  }
  &__list-head {
    padding: 4px 40px;
  }
}
