@import "../../scss/core.scss";
.ListDetailsView {
  flex: 1;
  position: relative;
  z-index: 1;
  padding: 30px 20px;
  height: calc(100vh - 82px);
  overflow-y: auto;
  background: rgba($N0, 0.3);
  border: 2px solid rgba($N0, 0.5);
  border-radius: 20px;
  z-index: 1;
  & &__btn {
    background: $N0;
    border: none;
    box-shadow: none;
    @include text($H13, 500, $N1);
    text-shadow: none;
    margin-bottom: 30px;
    height: 60px;
    padding: 0 28px;
    &:hover,
    &:active,
    &:focus {
      background: rgba($V2, 0.1);
    }
  }
  & &__icon {
    margin-left: 24px;
    font-size: 10px;
    color: $N2;
  }
  &__head {
    background: #ffffff;
    border-radius: 100px;
    margin-bottom: 50px;
    @include flex-row(space-between, center);
    padding: 25px 30px;
  }
  &__head-value {
    @include text($H20, 500, $N1);
    
  }
  &__head-arrow {
    transform: rotate(180deg);
    @include flex(center, center);
    color: $N2;
    svg {
      height: 20px!important;
    }
  }
}
