@import "../../scss/core.scss";
.TheMenu {
  padding: 24px 32px;
  &__header {
    margin-bottom: 36px;
  }
  & &__btn {
    background-color: rgba($V2, 0.1);
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border: none;
    box-shadow: none;
    &._white {
      background: $N0;
    }
    &:last-child {
      margin-right: 0;
      &:hover {
        background-color: $N0;
      }
    }
    &:hover {
      background-color: rgba($V2, 0.1);
    }
  }
  &__item {
    @include text($H16, 500, $N1);
    margin-bottom: 30px;
    &:hover {
      color: $R2;
    }
    &:last-child {
      margin-bottom: 0;
    }
    a {
        color: inherit;
        @include flex(flex-start, center);
        @include transition(color);
    }
  }
  &__icon {
      margin-right: 16px;
      font-size: 24px;
  }
  & &__btn-search {
    width: 202px;
    background: $N0;
    border: none;
    box-shadow: none;
    @include text($H13, 500, $R2);
    text-shadow: none;
    margin-bottom: 30px;
    &:hover,
    &:active {
      background: rgba($V2, 0.1);
    }
  }
  &__expanded {
    padding: 20px 0;
    &-item {
      @include flex(center, center)
    }
    &-link {
      flex: 1;
      padding: 14px 0;
      font-size: 18px;
      color: $N1;
      @include flex(center, center);
      &._small {
        font-size: 23px;
      }
    }
  }
}
