@import "../../../../scss/core.scss";
.ProfileViewMain {
  &__row {
    margin-bottom: 24px;
  }
  &__instagram-name {
    @include text($H28, 600, $N1);
  }
  & &__divider {
    height: 42px;
    margin: 0 20px;
  }
  &__location-name {
    @include text($H17, 600, $N1);
    margin-right: 16px;
  }
  &__location-link {
    @include flex(center, center);
    width: 95px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:hover {
      span {
        width: 36px;
        height: 36px;
        color: $B1;
      }
    }
    span {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $N0;
      font-size: 20px;
      @include flex(center, center);
      color: $N1;
      @include transition(width, height);
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  &__location-icon {
    z-index: 1;
  }
  &__star-btn {
    margin-right: 20px;
    &:hover,
    &:active,
    &:focus {
      background-color: $R3 !important;
      color: $R2;
      border-color: $R3;
    }
    &._active {
      background-color: $R3 !important;
      color: $R2;
      border-color: $R3;
    }
  }
  &__name {
    @include text($H13, 400, $N2);
    margin-bottom: 6px;
  }
  &__value {
    @include text($H17, 600, $N1);
  }
}
