%block-styles {
  background: linear-gradient(
    13.83deg,
    #ffffff 23.03%,
    rgba(255, 255, 255, 0.25) 104.48%
  );
  border-radius: 20px;
  border: 2px solid rgba($N0, 0.5);
}

%profile-block-title {
  @include text($H13, 400, $N2);
  margin-bottom: 10px;
  display: block;
}
