@import "../scss/core.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
}
.App {
  height: 100vh;
  overflow: hidden;
  background-color: #e5e5e5;
  position: relative;
  z-index: 0;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
  }
  &:before {
    width: 486.16px;
    height: 486.16px;
    left: 204.66px;
    top: -40px;
    background: linear-gradient(
      62.14deg,
      rgba(255, 255, 254, 0.12) 2.01%,
      #ffdcbb 17.64%,
      #ffc4c7 34.38%,
      #d1c1ff 50.4%
    );
    opacity: 0.6;
    filter: blur(250px);
    transform: rotate(75deg);
  }
  &:after {
    width: 956.63px;
    height: 120%;
    right: -300px;
    top: -102.41px;
    background: linear-gradient(
      354.12deg,
      rgba(255, 255, 254, 0.12) 21.08%,
      #ffdcbb 49.26%,
      #ffc4c7 85.59%
    );
    filter: blur(250px);
    transform: rotate(-21.87deg);
  }
  &__inner {
    height: 100%;
    border-radius: 20px;
    z-index: 1;
    @include flex(stretch, stretch);
    &._home {
      background: rgba($N0, 0.3);
      border: 2px solid rgba($N0, 0.5);
    }
  }
  &__modal-container {
    height: 100%;
    width: 100%;
    z-index: 1;
    @include flex(stretch, stretch);
    flex: 1;
    padding-right: 55px;
    height: calc(100vh - 82px);
    &._more-padding {
      padding-right: 55px;
    }
  }
  &__menu {
    width: 100%;
    max-width: 300px;
    &._expanded {
      max-width: 182px;
    }
  }
  & &__modal-wrap {
    @include flex(flex-start, center);
    & > div {
      margin: 0 0 0 370px;
    }
    & .ant-modal-content {
      border-radius: 20px;
      & .ant-modal-close-x {
        width: 74px;
        font-size: 14px;
        color: $N1;
      }
      & .ant-modal-close {
        top: 18px;
      }
    }
  }
}
.ant-avatar {
  background-color: $R2 !important;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ant-spin.ant-spin-spinning {
  min-height: calc(100vh - 200px);
}
