.Home {
  flex: 1;
  position: relative;
  z-index: 1;
  padding: 30px 20px;
  height: calc(100vh - 82px);
  &__main-content {
    flex: 1;
    overflow: auto;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  &__asside {
    flex: 1 1 280px;
    max-width: 280px;
    overflow: auto;
    height: 100%;
  }
}
