@import "../../../scss/core.scss";

.TheCard {
  background: $N0;
  border-radius: 20px;
  padding: 50px 30px 24px;
  text-align: center;
  height: 100%;
  @include flex(space-between, center, column);
  &__avatar {
    margin-bottom: 20px;
  }
  &__title {
    @include text($H15, 500, $N1);
    margin-bottom: 4px;
  }
  &__location {
    @include text($H13, 400, $N2);
    margin-bottom: 30px;
    display: inline-block;
  }
  &__name {
    @include text($H13, 500, $N1);
    margin-bottom: 12px;
  }
  &__text {
    @include text($H13, 400, $N2);
    line-height: 1.9;
    margin-bottom: 40px;
  }
  &__value {
    @include text($H24, 500, $N1);
    margin-bottom: 4px;
  }
  &__value-name {
    @include text($H13, 400, $N2);
    margin: 0;
  }
  & &__btn {
    width: 100%;
    background: $N0;
    border: 1px solid $N3;
    box-shadow: none;
    @include text($H13, 500, $N1);
    text-shadow: none;
    @include flex(center, center);
    height: 50px;
    &:hover,
    &:active,
    &:focus {
      background: $R3;
      color: $R2;
      border-color: $R3;
    }
    &._blue {
      &:hover,
      &:active,
      &:focus {
        background: $B2;
        color: $B1;
        border-color: $B2;
      }
    }
  }
  &__select {
    border-radius: 40px;
    background-color: rgba($V2, 0.1);
    height: 50px;
    border: none;
    width: 100%;
    @include text($H13, 500, $N1);
    &.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 40px;
      background-color: rgba($V2, 0.1);
      height: 50px;
      padding: 0 30px;
      border: none;
      width: 100%;
      @include text($H13, 500, $N1);
      @include flex(flex-start, center);
    }

    &::placeholder {
      color: rgba($N2, 0.4);
    }
    & .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      width: 100%;
      height: 100%;
      & .ant-input-number-input {
        padding: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
